h1{
    color: rgb(233, 253, 254);
}

h2 {
    
    color:  rgb(233, 253, 254);

}

input {
    color:  rgb(233, 253, 254);
    background-color:  rgb(144, 183, 162);
    
}

body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(7, 122, 122);

/* background-color: rgb(236, 236, 236); */
}


button {
    color: rgb(214, 244, 242);
    background-color:  rgb(120, 136, 128);
    border: 2px solid black;
    border-radius: 12px;
    padding: 14px 28px;
    font-size: 12px;
}
#submitButton:hover{
    border-radius: 50%;
    cursor: pointer;
}
.deleteButton:hover{
    border-radius: 50%;
    cursor: pointer;
}
th{
    color:  rgb(233, 253, 254);
    background-color: teal;
    border: 1px solid black;
    min-width: 100px;
    padding: 20px;
}

table{
    background-color:  rgb(144, 183, 162);
    border: 1px solid black;
    min-width: 100px;
    padding: 20px;
}


tr:nth-child(even),
td{
    color:  rgb(233, 253, 254);
    
    background-color: rgb(119, 118, 118), 0.6;
    border: 1px solid black;
    min-width: 100px;
    padding: 20px;
}


